.button {
  background-color: var(--primary);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: var(--input-radius);
}

.button.small {
}

.button.small img {
  width: 1rem;
  height: 1rem;
}

.button.medium {
  height: 2.4rem;
  padding: 10px 12px;
  font-size: small;
}

.button.medium img {
  width: 1rem;
  height: 1rem;
}

.button.large {
  width: 100%;
  padding: 15px 32px;
  font-size: large;
}

.button.large img {
  width: 1rem;
  height: 1rem;
}

.button:hover {
  background-color: var(--primary-dark);
}

.button.width-auto {
  width: auto;
}

.button.width-full {
  width: 100%;
}

.button.color-warning {
  background-color: var(--color-warning);
}

.button.color-warning:hover {
  background-color: #ff9800;
}

.button.color-danger {
  background-color: var(--color-error);
}

.button.color-danger:hover {
  background-color: #f44336;
}

.button.color-info {
  background-color: var(--color-info);
}

.button.color-info:hover {
  background-color: #2196f3;
}

.button.color-secondary {
  background-color: grey;
}

.button.color-secondary:hover {
  background-color: #4f4f4f;
}
