.divider.horizontal,
.divider.thin {
  border-top: 1px solid var(--border-color);
  width: 100%;
}

.divider.horizontal {
  margin: 0.5rem 0;
}

.divider.thin {
  margin: 0.2rem 0;
}

.divider.vertical {
  border-left: 1px solid var(--border-color);
  margin: 0 0.5rem;
  height: 100%;
}
