.app {
  text-align: center;
  background-color: var(--background-primary);
  color: var(--text-color);

  width: 600px;
  height: 600px;
  max-height: 600px;
  overflow: hidden;

  padding: 1rem 1rem 0 1rem;
}

.app__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 44px;
}

.app__header {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.app__header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.app__header__logo a,
.app__header__logo a:visited,
.app__header__logo a:hover,
.app__header__logo a:active {
  color: var(--text-color);
}

.app__header p {
  font-size: 2rem;
}

.app__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
  padding-right: 6px;
}

.app__body__headers {
  display: flex;
  flex-direction: column;
}

.app__body__headers__empty {
  width: 100%;
  text-align: center;

  font-size: 0.8rem;
  font-weight: 500;
}

.app__footer {
  position: absolute;
  bottom: 8px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 38px;
  width: 100%;
  justify-content: space-between;
}

.app__body__filters__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.app__footer__action_block {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
