.app-footer {
  position: absolute;
  bottom: 8px;
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 38px;
  width: 100%;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.app-footer__action_block {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 8px;
}
